body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #4A90E2;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

.cancel-button {
    background-color: #FF5E57;
}

.cancel-button:hover {
    background-color: #D9534F;
}